.drawer-header {
  padding: 10px;
}

.drawer-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.drawer-row {
  padding: 10px;
}

.drawer-button {
  width: 100%;
}
