.navbar-desktop {
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid #f0f0f0;
}

.desknav-contents {
  max-width: 1080px; /* Set max width to 1080px */
  margin: 0 auto; /* Center the contents horizontally */
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Align items vertically */
  padding: 1.5rem 3rem; /* Add padding for spacing */
}

.desknav-title {
  font-size: 18px;
  font-weight: bold;
}

.desknav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desknav-icon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.manage-account {
  background-color: blueviolet;
}
