.navbar-desktop {
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid #f0f0f0;
}

.desknav-contents {
  max-width: 1080px; /* Set max width to 1080px */
  margin: 0 auto; /* Center the contents horizontally */
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Align items vertically */
  padding: 1.5rem 3rem; /* Add padding for spacing */
}

.desknav-title {
  font-size: 18px;
  font-weight: bold;
}

.desknav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desknav-icon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.manage-account {
  background-color: blueviolet;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
}

.mobilenav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* Horizontal padding of 1rem */
  width: 100%;
}

.mobilenav-center {
  flex-grow: 1;
  text-align: center;
}

.mobilenav-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.mobilenav-right {
  display: flex;
  align-items: center;
}

.mobilenav-icon {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
}

/* Drawer Styles */
.drawer-home-button {
  width: 100%; /* Ensure full width for the button */
  margin: 20px 0; /* Add some vertical margin */
}

.drawer-contextual-content {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.drawer-join-button,
.drawer-profile-button {
  width: 100%; /* Full width for join/profile buttons */
  max-width: 200px; /* Optional: Limit the max width */
  margin: 10px auto; /* Center the button horizontally */
}

.drawer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-button {
  width: 100%; /* Full width for drawer buttons */
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.drawer-header-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.drawer-button-row {
  width: 100%;
}

.drawer-mobile {
  border: 5px solid rgb(32, 37, 32);
}

.drawer-context {
  border: 1px solid black;
}
