.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 24px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    color: white;
    border: none;
    background: none;
  }

  .logo {
    margin: 0 auto;
  }

  .menu {
    display: none;
  }
}
